/* Fortsätt här https://www.youtube.com/watch?v=Yvd52i14NLU tid 1:24:30 */

/* Fakta hämtade från
https://www.youtube.com/watch?v=Yvd52i14NLU

*/

/* Webbläsaren tillämpar CSS regler på ett dokument för att påverka hur de visas för användaren. */

/* En regel består av:
1. En uppsättning properties/egenskaper som har values/värden vilka uppdaterar hur innehållet i HTML visas, 
   dessa kallas för deklarationsblock.
2. En selektor “väljer” vilket eller vilka element som du vill tillämpa deklarationsblocket på. 
   Exempelvis “ Jag vill tillämpa min CSS regel på alla paragraph-element i mitt HTML dokument” */

/* Hur skriver vi CSS? */
p  {                      /* p är selektorn i detta fallet */
    color: red;         /* Detta är en deklaration */
    font-size: 12pt;      /* Detta är ytterligare en deklaration */
}                         /* Från { till } är själva deklarationsblocket */

/* 
* En deklaration består av en property, tex color eller font-size och ett value, tex red eller 12pt.
* Ett property skiljs från värdet med ett kolon och flera deklarationer separeras med ett semikolon.
* Tre sätt att tillämpa CSS i HTML
    * Externt style sheet - vi laddar CSS från en fil till vår HTML. GÖR SÅHÄR!
    * Internt style sheet - vi skriver CSS i vårt dokuments head-element. GÖR EJ!
    * Styling inline - vi skriver VSS inuti vår markup i HTML. GÖR EJ!
* Cascade I CSS syftar till att regeler som definieras i CSS draperar nedåt beroende på källa. 
    * 1. Externa
    * 2. Sid-specifika (interna)
    * 3. Inline

* Selektorer
    * Enkla Selektorer - Matchar ett eller flera element baserat på elementtyp, id eller class.
    * Attributselektorer - Matchar ett eller flera element baserat på deras attribut och attributvärden.
    * Pseudo-Klasser - Matchar ett eller flera element som existerar i ett visst tillstånd, t.ex. när man hovrar över eller element.
    * Kombinatorer - Àr inte en egen selektor utan kombinerar flera selektorer för at få väldigt specifika selektioner av element, eller grupper av element.
    * Multipla Selektorer - Lite som kombinatorer så är dessa inte en egen typ av selektor utan beskriver hur man kan sätta flera selektorer pa samma regel, 
      separerade med kommatecken, och på så sett applicera en uppsättning av deklarationer på alla element som selektorerna väljer.
    * Hashtag # används för att selektera en id-selector
    * Dot-selector . används för att selektera en class-selector   */

/* Read more on selectors at https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors */

/* ID selector (octothorpe) (Räknas som Enkel Selektor för de används så ofta) */
#heading-1 {                    /* Selects the HTML-element with id="heading-1". */
    color: blue;
}

/* Class selector (Räknas som Enkel Selektor för de används så ofta) */
.red {                     /* Selects the HTML-element with class of "red". */
    color: red;
}

 /* Descendant selector, selects every p in the section*/
section p {
    color: green;
} 

/* Child selector, selects only the children-paragraphs in the section*/
section > p{
    color: yellow;
}

---------------------------------------------------------------------
/* Combinatory Selectors */

/* Adjacent siblling selector. */
h2 + p {                                    /* Selects the h2´s first p-sibling*/ 
    text-transform: uppercase;              /* Transforms the text to uppercase */
}

/* General adjacent siblling selector. */
h2 ~p {                                     /* Selects all the h2´s p-sibling. Represents elements with an attribute name of attr whose value is a whitespace-separated list of words, one of which is exactly value.*/ 
    border: 1px dashed black;             
}

---------------------------------------------------------------------
/* Attribute selectors. */

[data-vegetable] {                          /* To select attributes, we use square-brackets, [], around the attribute. */
    color: green
}

/* Attribute equals selector. */
[data-vegetable="liquid"] {                  /* Here we select an attribute with a specific value, i.e "liquid". */
    color: red
}

/* Attribute hyphenated selector */
[lang="sv-SE"] {                            /* Om man vill välja detta attribut kan man skriva såhär*/
    color: red
}

[lang|=sv] {                                /* Med rak pipe använder vi hyphenated selector och då ändras specificiteten i ovanstående exempel till att rikta sig mot alla attribut med bindestreck som har sv före eller efter sig. Represents elements with an attribute name of attr whose value can be exactly value or can begin with value immediately followed by a hyphen, - (U+002D). It is often used for language subcode matches. */
    color: aquamarine
}

/* Attribute begins with */
[data-quantity^="optional"] {               /* Här använder vi ^ för att påverka specificiteten. Represents elements with an attribute name of attr whose value is prefixed (preceded) by value. */
    opacity: 0.3;
}

/* Attribute ends with */
[data-quantity$="kg"] {                     /* Här använder vi $ för att påverka specificiteten. Represents elements with an attribute name of attr whose value is suffixed (followed) by value. */
    font-weight: bold;
}

/* Attribute contains  */                   /* Här använder vi * för att påverka specificiteten. Represents elements with an attribute name of attr whose value contains at least one occurrence of value within the string. */
[data-vegetable*="not spicy"] {
    text-decoration: underline;
}}

